<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Encryption-Contact-us</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body class="contact-us">
    <header class="header">
        <div class="nav-logo">
            <a href="./Index.html"> <img src="../Images/Rectangle 2.svg" alt="Advanced Encryption Logo"> </a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="./Index.html">HOME</a></li>
                <li><a href="./Content.html">CONTENT</a></li>
                <li><a href="./PQC.html">TYPES</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="./Reference.html">REFERENCE</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="contact-section">
            <h1 class="page-title">Contact Us</h1>
            <div class="contact-container">  
                <form class="contact-form">
                    <h2>Get In Touch</h2>                 
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="tel" name="phone" placeholder="Phone number">
                    <input type="email" name="email" placeholder="Email" required>                  
                    <textarea name="message" placeholder="Write your message..." rows="5" required></textarea>                   
                    <button type="submit" class="send-message-btn">Send Message</button>
                </form>
                <div class="contact-info">
                    <div class="info-item">
                        <i class="fas fa-envelope"><img src="../Images/typcn--mail.svg"></i>
                        <p>info@advancedencryption.com</p>
                    </div>
                    <div class="info-item">
                        <i class="fas fa-phone-alt"><img src="../Images/solar--phone-linear.svg"></i>
                        <p>+1 (555) 321-5309</p>
                    </div>
                    <div class="info-item">
                        <i class="fas fa-map-marker-alt"><img src="../Images/mdi--location-radius.svg"></i>
                        <p>Level Seven, Zenith Point,<br>Aura Gardens, B1 5AG</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class ="social-icons">
            <img src="../Images/Frame-2.svg">
            <img src="../Images/Frame-3.svg">
            <img src="../Images/Frame.svg">
            <img src="../Images/Frame-4.svg">
        </div>
        <div class="copyright">
        <p>© 2025 Advanced Encryption. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>