<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Encryption</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body class="home">
    <header class="header">
        <div class="nav-logo">
            <a href=""> <img src="../Images/Rectangle 2.svg" alt="Advanced Encryption Logo"> </a>
        </div>
        <div>
            <nav class="navbar">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="./Content.html">CONTENT</a></li>
                    <li><a href="./PQC.html">TYPES</a></li>
                    <li><a href="./Contact-us.html">CONTACT</a></li>
                    <li><a href="./Reference.html">REFERENCE</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="hh">Advanced Encryption</h1>
        <p class="hp">A high security cypher that prevents data from <br> being hacked</p>
        <a class="hl" href="./Content.html">Learn more...</a>
    </main>
    <footer class="footer">
        <div class ="social-icons">
            <img src="../Images/Frame-2.svg" alt="">
            <img src="../Images/Frame-3.svg" alt="">
            <img src="../Images/Frame.svg" alt="">
            <img src="../Images/Frame-4.svg" alt="">
        </div>
        <div class="copyright">
        <p>© 2025 Advanced Encryption. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>