*{
    margin: 0;
    padding: 0%;
    border: none;
}
.header {
    width: 100%;
    height: 85px;
    top: 0px;
    background-color: #020D25;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
}
.nav-logo {
    margin-right: 15px;
    transition: color 0.3s;
}
.navbar ul {
    padding-top: 15px;
    width: 55%;
    margin : 10px 50px 0px 50px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 24px; 
    font-style: bold; 
    font-family: 'Inter', sans-serif;
}
.navbar ul a{
    text-decoration: none;
    color: #ffffff;
}
.home {
    background-image: url(../Images/Reverus_the-future-of-encryption.jpg); 
    width: 100%;
} 
.hh {
    margin-top: 150px;
    margin-left: 70px;
    color: #ffffff; 
    font-size: 100px; 
    font-style: semi bold; 
    font-family: 'Inter', sans-serif;
} 
.hp {
    margin-top: 20px;
    margin-left: 70px;
    color: #ffffff; 
    font-size: 32px; 
    font-style: semi bold; 
    font-family: 'Inter', sans-serif;
}
.hl {
    margin-top: 60px;
    margin-left: 70px;
    text-decoration: none;
    color: #11C900; 
    font-size: 32px; 
    font-style: italic; 
    font-family: 'Inter', sans-serif;
}
.content {
    background:         linear-gradient(#000622, #C5C5C5);
}
.content-section {
    position: relative; 
    width: 90%;
    overflow: hidden;
    margin-top: 130px;
    margin-bottom: 140px;
    margin-left: 80px;
    background-size: cover; 
    background-position: center center;
    background-image: url('../Images/aes-encryption.jpg'); 
    height: 500px; 
}
.info-box {
    width: 40%;
    max-width: 900px;
    background-color: #1E40AF;
    padding: 30px;
    z-index: 5;
    position: absolute; 
    bottom: 20px; 
    right: 50px; 
    height: 350px;
}
.info-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #FAFAFA;
    font-weight: 600;
}
.info-box p {
    font-size: 20px;
    line-height: 1.6;
    color: #BFC8D5;
}
.highlight {
    color: #BFC8D5;
    font-weight: bold;
}
.types-section {
    padding: 135px 70px 87px; 
    display: flex;
    gap: 40px; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    background: #102D6C;
    background-size: 100% 100%;
}
.card {
    background-color: rgba(20, 20, 35, 0.8);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    display: flex; 
    flex-direction: column; 
}
.wide-card {
    flex: 2; 
    min-width: 250px; 
    max-width: 300px; 
    height: 550px; 
}
.narrow-card {
    flex: 1; 
    min-width: 150px; 
    max-width: 200px;
    height: 550px;  
}
.card-image-bg {
    height: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    font-weight: bold;
}
.wide-card .card-image-bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent 100%); 
}
.narrow-card:nth-of-type(2) .card-image-bg {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, transparent 50%); 
}
.narrow-card:nth-of-type(3) .card-image-bg {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, transparent 50%); 
}
.narrow-card:nth-of-type(4) .card-image-bg {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, transparent 50%); 
}
.wide-card .card-content {
    position: absolute; 
    bottom: 0;         
    left: 150px;            
    width: 100%;       
    height: auto;       
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
    text-align: left;
}
.card-content h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #00BFFF;
    line-height: 1.2;
}
.card-content p {
    font-size: 22px;
    line-height: 1.5;
    color: #FAFAFA;
    font-style: bold;
}
.wide-card .card-content2 {
    position: absolute; 
    bottom: 0;         
    left: 385px;            
    width: 100%;       
    height: auto;       
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
    text-align: left;
}
.card-content2 h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #00BFFF;
    line-height: 1.2;
}
.card-content2 p {
    font-size: 22px;
    line-height: 1.5;
    color: #FAFAFA;
    font-style: bold;
}
.wide-card .card-content3 {
    position: absolute; 
    bottom: 0;         
    left: 630px;            
    width: 100%;       
    height: auto;       
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
    text-align: left;
}
.card-content3 h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #00BFFF;
    line-height: 1.2;
}
.card-content3 p {
    font-size: 22px;
    line-height: 1.5;
    color: #FAFAFA;
    font-style: bold;
}
.wide-card .card-content4 {
    position: absolute; 
    bottom: 0;         
    left: 870px;            
    width: 100%;       
    height: auto;       
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start; 
    text-align: left;
}
.card-content4 h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #00BFFF;
    line-height: 1.2;
}
.card-content4 p {
    font-size: 22px;
    line-height: 1.5;
    color: #FAFAFA;
    font-style: bold;
}
.contact-section {
    margin-top: 90px;
    padding-top: 15px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center 30%; 
    background-image: url(../Images/Rectangle\ 29.svg);
}
.page-title {
    font-size: 56px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.contact-container {
    display: flex;
    gap: 100px;
    width: 80%;
    max-width: 1200px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: rgba(13, 17, 23, 0.5); 
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    border-color: #5C6B7F;
    border-width: 1px;
}
.contact-form {
    flex: 2; 
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.contact-form h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Karantina', sans-serif;
    color: #ffffff;
}
.contact-form input,
.contact-form textarea {
    background-color: rgba(255, 255, 255, 0.1); 
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    transition: background-color 0.3s;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #BFC8D5;
    border-color: #000000;
    border-width: 1px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
}
.contact-form textarea {
    resize: none;
}
.send-message-btn {
    background: #3C7CFF; 
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 10px;
}
.send-message-btn:hover {
    opacity: 0.9;
}
.contact-info {
    flex: 1; 
    padding-top: 70px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.info-item {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #e0e0e0;
}
.info-item i {
    size: 30px;
    color: #ffffff; 
    padding-top: 2px; 
}
.info-item p {
    font-size: 24px;
    line-height: 1.4;
    color: #FFFFFF;
}
.reference-section {
    padding: 55px 0px 100px; 
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
    background: #0b0d1a;
    background-image: url(../Images/360_F_829923583_Q9qvQUSqXo0URtHNzwwFqU0H0ByKXz1Y.jpg);
    background-size: 100% 100%;
}
.reference-container {
    display: flex;
    gap: 70px;
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.reference-box {
    flex: 1; 
    padding: 70px;
    border-radius: 53px;   
    background-color: rgba(255, 255, 255, 0.08); 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #00D0FF;
}
.reference-box h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #ffffff;
}
.reference-box ul {
    list-style: none;
    padding: 0;
}
.reference-box li {
    margin-bottom: 15px;
}
.reference-box a {
    font-size: 16px;
    color: #ffffff; 
    text-decoration: underline; 
    font-style: italic;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s;
}
.reference-box a:hover {
    color: #bcccdc;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.4); 
}
.social-icons {
    margin-right: 15px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: #e0e0e0;
    transition: color 0.3s;
}
.copyright {
    font-size: 12px;
    color: #a0a0a0;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    margin-right: 0;
}
